[submodule "pdfdecrypt"]
	path = sources/pdfdecrypt
	url = git@gist.github.com:67c1d8fe0ae6b9626481cc46722c27c0.git
[submodule "sources/tuna"]
	path = sources/tuna
	url = ../tuna.git
[submodule "sources/python-titlecase"]
	path = sources/python-titlecase
	url = ../python-titlecase.git
[submodule "sources/tries"]
	path = sources/tries
	url = ../tries.git
[submodule "sources/pyyaml"]
	path = sources/pyyaml
	url = ../pyyaml.git
