[submodule "pdfdecrypt"]
	path = pdfdecrypt
	url = git@gist.github.com:67c1d8fe0ae6b9626481cc46722c27c0.git
[submodule "tuna"]
	path = tuna
	url = ../tuna.git
[submodule "python-titlecase"]
	path = python-titlecase
	url = ../python-titlecase.git
[submodule "tries"]
	path = tries
	url = ../tries.git
